<h2 id="title">Welcome to Ember Backend</h2>

| {{#link-to 'index' class="btn btn-primary"}}Home{{/link-to}} |
| {{#link-to 'post' 0}}First Post{{/link-to}} {{#link-to 'post.edit' 0}}(edit){{/link-to}}|

{{outlet}}
